@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-montserrat text-white antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-rubik;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
